<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>工程師的核心任務是「解決問題」。</p>
                <p>第一步是「面對」，人們大多不喜好直視問題、避重就輕，因而造就決策失準。</p>
                <p>第二步是「發現/了解」，減少「未知的未知」就可以讓能力越來越精煉。</p>
                <p>最後則是「PDCA」，制度化的概念可以確立目標、減少浪費。</p>
            </div>
            <div class="col-lg-4">
                <p>學生的本質是「熱忱、快速、持續學習」</p>
                <p>發現自己有者「三分鐘熱度」的特性，最近想到一個方法可以保持熱度。就是在三分鐘內完成任務！</p>
                <p>我很喜歡 Scrum 的精神，設立階段性目標，努力衝刺。把大西瓜去皮切片，更利於獲得成就感。</p>
            </div>
            <div class="col-lg-4">                
                <p>人是群居的生物，每個小螺絲都至關重要</p>
                <p>團隊合作不僅僅是內部，也必須和客戶合作，但因人往往是自私的，在缺乏溝通的狀況下，很難體會對方的感受。</p>
                <p>溝通是雙向的，單面的你說我做容易產生許多問題。還要注意的一點是，初期的信任感建立相當重要。</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="@Url.Action("Download")" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Resume
                </a>
            </div>
        </div>
    </div>
</section>