<link href="~/css/rotate.css" rel="stylesheet" />

<!--名片-->
<div id="wrapper">
    <div id="platform">
        <div id="NameCard">
            <div class="side front">
                <img src="~/img/namecard/namecard_pos.png" class="img-responsive" />
            </div>

            <div class="side back">
                <img src="~/img/namecard/namecard_neg.png" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
