<div role="main" class="ui-content">

    <fieldset id="join" data-role="controlgroup" data-type="horizontal" data-mini="true">
        <input type="radio" name="join" id="radio-choice-a" value="true" checked="checked">
        <label for="radio-choice-a" value="true">參加</label>
        <input type="radio" name="join" id="radio-choice-b" value="false">
        <label for="radio-choice-b" value="false">不克參加</label>
    </fieldset>

    <fieldset id="side" data-role="controlgroup" data-type="horizontal" data-mini="true">
        <input type="radio" name="side" id="radio-choice-c" value="false" checked="checked">
        <label for="radio-choice-c" value="false">男方親友</label>
        <input type="radio" name="side" id="radio-choice-d" value="true">
        <label for="radio-choice-d" value="true">女方親友</label>
    </fieldset>

    <label for="number">人數</label>
    <input type="range" name="number" id="number" value="1" min="0" max="10">

    <label for="children">兒童座椅</label>
    <input type="range" name="children" id="children" value="0" min="0" max="2">

    <label for="vegetable">素食</label>
    <input type="range" name="vegetable" id="vegetable" value="0" min="0" max="10">

    <label for="address">喜帖寄送地址</label>
    <input type="text" class="required" name="address" id="address" required />

    <a href="#Chat">
        <input type="button" value="更新" id="updateForm" />
    </a>
</div>

<script>
    $(function () {

        $("input[type='radio'][name='join']").on("click", function () {
            var value = $(this).val();

            //console.log(value);

            switch (value) {
                case "true":
                    //$("#updateForm").closest("a").attr("href", "#Detail");
                    $("#number").val(1).change();
                    break;
                case "false":
                    //$("#updateForm").closest("a").attr("href", "#Chat");
                    $("#number").val(0).change();
                    $("#children").val(0).change();
                    $("#vegetable").val(0).change();
                    break;
                default:
                    break;
            }

        });

        $("#updateForm").on("click", function () {
            $.post(
                "api/Information",
                {
                    hash: $("#memberhash").val(),
                    memberid: $("#memberid").val(),
                    accept: $("#join").find("input[name='join']").val(),
                    side: $("#side").find("input[name='side']").val(),
                    number: $("#number").val(),
                    children: $("#children").val(),
                    vegetable: $("#vegetable").val(),
                    address: $("#address").val()
                },
                function (result) {

                }
            )
        });
    });
</script>
