

<div role="main" class="ui-content">
    <div id="chatbox">
        <input type="hidden" id="displayname" />

        <input type="text" id="message" data-clear-btn="true" placeholder="我有話要說" />
        
        <input type="button" id="sendmessage" value="送出" />
    </div>

    <ul data-role="listview" data-inset="true" id="chatlog">
        <li>曾婉婷:會有人跟我對話嗎？</li>
        <li>鄭力瑋:並沒有</li>
        <li>陳昌一:雯雯不要欺負腦公，要永遠幸福哦!</li>

        @*<li data-icon="delete"><a href="#">1</a></li>
        <li data-icon="delete"><a href="#">2</a></li>
        <li data-icon="delete"><a href="#">3</a></li>
        <li data-icon="delete"><a href="#">4</a></li>
        <li data-icon="delete"><a href="#">5</a></li>*@
    </ul>
</div>
