

<div role="main" class="ui-content">
    <div id="chatbox">
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="Send" />
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            //ajaxGet();

            $.connection.hub.start().done(function () {
                chat.server.getName($('#displayname').html());

                $('#sendmessage').click(function () {
                    var name = $('#displayname').val();
                    var message = $('#message').val();
                    ajaxMessage(message);

                    chat.server.send(name, message);
                    $('#message').val('').focus();
                });
            });
        });
    </script>
}