<div role="main" class="ui-content">
    Dear 親,<br />
    用中文姓名當作帳號，所以請不要打錯，或打措號，會導致對應不到的問題
    <input type="text" id="loginName" placeholder="您的中文姓名" />

    <input type="hidden" id="memberid" />
    <input type="hidden" id="memberhash" />
    <input type="text" id="sessionid" value="@User.Identity.Name" />

    <a href="#Info">
        <input type="button" id="loginBtn" value="下一步" />
    </a>
</div>

<script>
    $(function () {
        $("#loginBtn").on("click", function () {
            var name = $("#loginName").val();
            var sessionid = $("#sessionid").val();

            $.post(
                "api/Members",
                {
                    Name: name,
                    SessionID: sessionid
                },
                function (member) {
                    logining();

                    $("#memberid").val(member.id);
                    $("#memberhash").val(member.Hash);
                    $("#displayname").val(name);

                    $.get("api/Information/" + member.Hash, null, function (info) {
                        $("#join").find("label[value='" + info.accept + "']").click();
                        $("#side").find("label[value='"+ info.side +"']").click();
                        $("#number").val(info.number).slider("refresh");
                        $("#children").val(info.children).slider("refresh");
                        $("#vegetable").val(info.vegetable).slider("refresh");

                        //address
                        //bus
                        //HSR
                        //write
                        //read
                        
                        logined();
                    });
                    
                }
            )
        });
    });

    function logining() {
        $.mobile.loading('show', {
            text: '登入中...',
            textVisible: true,
            theme: 'a',
            textonly: false,
            html: ""
        });
    }

    function logined() {
        $.mobile.loading('hide');
    }
</script>