

<div role="main" class="ui-content">
    <p id="read"></p>

    <div>
        <input type="text" id="secret" placeholder="有秘密和我們說" />
        
        <input type="button" id="say" value="送出" />
    </div>
</div>

<script>
    $(function () {
        $("#say").on("click", function () {
            if ($("#memberid").val() == "") {
                $("a[name='Login']").eq(0).click();
                return false;
            }

            var message = $("#secret").val();

            ajaxMessage(message);
            $('#secret').val('').focus();
        });
    });
</script>