
<div role="main" class="ui-content">
    <ul data-role="listview">
        <li><a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r ui-btn-active">文定儀式</a></li>
        <li><a href="#">證婚儀式</a></li>
        <li data-role="list-divider">婚宴</li>
        <li><a href="#">第一道菜</a></li>
        <li><a href="#">第二道菜</a></li>
        <li><a href="#">第三道菜</a></li>
        <li><a href="#">第四道菜</a></li>
        <li><a href="#">第五道菜</a></li>
        <li><a href="#">第六道菜</a></li>
        <li><a href="#">第七道菜</a></li>
        <li><a href="#">第八道菜</a></li>
        <li><a href="#">第九道菜</a></li>
        <li><a href="#">第十道菜</a></li>
    </ul>
</div>
