

<div role="main" class="ui-content">
    <span>※目前桌子排列尚不準確。</span>
    <br/>
    <span id="tableText"></span>

    <svg height="420" width="300">
        <circle id="1" cx="30" cy="30" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="25" y="34" fill="black">1</text>

        <circle id="2" cx="90" cy="30" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="85" y="34" fill="black">2</text>

        <circle id="3" cx="150" cy="30" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="145" y="34" fill="black">3</text>

        <circle id="4" cx="210" cy="30" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="205" y="34" fill="black">4</text>

        <circle id="5" cx="270" cy="30" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="265" y="34" fill="black">5</text>

        <circle id="6" cx="30" cy="90" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="25" y="94" fill="black">6</text>

        <circle id="7" cx="90" cy="90" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="85" y="94" fill="black">7</text>

        <circle id="8" cx="150" cy="90" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="145" y="94" fill="black">8</text>

        <circle id="9" cx="210" cy="90" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="205" y="94" fill="black">9</text>

        <circle id="10" cx="270" cy="90" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="265" y="94" fill="black">10</text>

        <circle id="11" cx="30" cy="150" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="25" y="154" fill="black">11</text>

        <circle id="12" cx="90" cy="150" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="85" y="154" fill="black">12</text>

        <circle id="13" cx="150" cy="150" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="145" y="154" fill="black">13</text>

        <circle id="14" cx="210" cy="150" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="205" y="154" fill="black">14</text>

        <circle id="15" cx="270" cy="150" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="265" y="154" fill="black">15</text>

        <circle id="16" cx="30" cy="210" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="25" y="214" fill="black">16</text>

        <circle id="17" cx="90" cy="210" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="85" y="214" fill="black">17</text>

        <circle id="18" cx="150" cy="210" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="145" y="214" fill="black">18</text>

        <circle id="19" cx="210" cy="210" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="205" y="214" fill="black">19</text>

        <circle id="20" cx="270" cy="210" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="265" y="214" fill="black">20</text>

        <circle id="21" cx="30" cy="270" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="25" y="274" fill="black">21</text>

        <circle id="22" cx="90" cy="270" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="85" y="274" fill="black">22</text>

        <circle id="23" cx="150" cy="270" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="145" y="274" fill="black">23</text>

        <circle id="24" cx="210" cy="270" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="205" y="274" fill="black">24</text>

        <circle id="25" cx="270" cy="270" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="265" y="274" fill="black">25</text>

        <circle id="26" cx="30" cy="330" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="25" y="334" fill="black">26</text>

        <circle id="27" cx="90" cy="330" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="85" y="334" fill="black">27</text>

        <circle id="28" cx="150" cy="330" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="145" y="334" fill="black">28</text>

        <circle id="29" cx="210" cy="330" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="205" y="334" fill="black">29</text>

        <circle id="30" cx="270" cy="330" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="265" y="334" fill="black">30</text>

        <circle id="31" cx="30" cy="390" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="25" y="394" fill="black">31</text>

        <circle id="32" cx="90" cy="390" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="85" y="394" fill="black">32</text>

        <circle id="303" cx="150" cy="390" r="20" stroke="black" stroke-width="3" fill="none" />
        <text x="136" y="394" fill="black">303</text>

        @*<circle id="34" cx="210" cy="390" r="20" stroke="black" stroke-width="3" fill="none" />
    <text x="205" y="394" fill="black">34</text>

    <circle id="35" cx="270" cy="390" r="20" stroke="black" stroke-width="3" fill="none" />
    <text x="265" y="394" fill="black">35</text>*@
    </svg>
</div>