

<div role="main" class="ui-content">
    <input type="button" id="toggle" value="Toggle" />
    <input type="button" id="hide" value="Hide" />
    <input type="button" id="refresh" value="Refresh" />

    <div>
        <input type="text" id="adminmessage" />
        <input type="button" id="adminsubmit" value="Send" />
    </div>
</div>
 
    <script>
        $(function () {
            $.connection.hub.start().done(function () {
                $("#toggle").on("click", function () {
                    chat.server.toggle();
                });

                $("#hide").on("click", function () {
                    chat.server.hide();
                });

                $("#refresh").on("click", function () {
                    chat.server.refresh();
                });

                $('#adminsubmit').click(function () {
                    var name = "新郎";
                    var message = $('#adminmessage').val();

                    if (message.trim() != "") {
                        ajaxMessage(message);
                        chat.server.send(name, message);

                        $('#adminmessage').val('').focus();
                    }
                });
            });
        });
    </script>