
<div data-role="page" id="Index" class="page">
    <div role="main" class="ui-content">
        <p>我要結婚了！2017-04-09@@高雄蓮潭會館，歡迎大家來參加</p>

        <p>
            <a href="#Chat">
                <img src="/img/wechatui/pic_article.png" alt="" width="100%">
            </a>
        </p>
    </div>

    @Html.Partial("_Footer")
</div>

<div data-role="page" id="Chat" class="page">
    @Html.Partial("_Header")

    @Html.Partial("_Chat")

    @Html.Partial("_Navbar")
</div>

@section scripts{
    <script>
        $(function () {
           
        });
    </script>
}